<h1>Employee</h1>
<mat-form-field>
    <label for="search"><b>Filter</b></label>
    <input id="search" matInput (keyup)="applyFilter($event.target.value)" class="search">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="employer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employer </th>
        <td mat-cell *matCellDef="let element"> {{element.employer}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="managerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager Name </th>
        <td style="cursor: pointer;color: blue;" mat-cell *matCellDef="let element" (click)="onShowManagerDetailsClick(element,template)">
            {{element.managerName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Manager Details</h4>
        <button type="button" style="cursor: pointer;" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>Name</td>
                <td>{{selectedManagerObject.managerName}}</td>
            </tr>
            <tr>
                <td>Details</td>
                <td>xyz zyz abc</td>
            </tr>
            <tr>
                <td>Other Details</td>
                <td>mnc bbcs</td>
            </tr>
        </table>
    </div>
</ng-template>