<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to Test App
    </h1>
  </div>
  <h2 style="text-align: -webkit-center;">Select Category</h2>
  <div class="container-fluid">
    <div class="col-sm-12 text-center" style="text-align: -webkit-center;">
      <button class="btn btn-danger btn-block" [routerLink]="['/manager']">
        Manager Component
      </button>
      <button class="btn btn-danger btn-block" [routerLink]="['/employee']">
        Employee Component
      </button>
    </div>
  </div>
</div>